@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=More+Sugar&display=swap');

@layer utilities {
  .font-more-sugar {
    font-family: 'More Sugar';
  }
  .bg-beige-50 {
    background-color: #fffbec;
  }
  .text-brown-700 {
    color: #5c3a31;
  }
  .text-brown-500 {
    color: #6b4423;
  }
  .bg-brown-700 {
    background-color: #5c3a31;
  }
  .hover\:bg-brown-800:hover {
    background-color: #4e3229;
  }
}
